<div class="card">
  <div class="card-body">
    <h2 class="text-center">Add Card</h2>

    <form [formGroup]="form" (ngSubmit)="createCard()">
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <i class="fas fa-user-circle"></i>
        </span>
        <input type="text" formControlName="owner" class="form-control" placeholder="Owner">
      </div>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <i class="fas fa-credit-card"></i>
        </span>
        <input type="text" formControlName="number" maxlength="16" class="form-control" placeholder="Card number">
      </div>
      <div class="row">
        <div class="col-lg-7">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-calendar-alt"></i>
            </span>
            <input type="text" formControlName="expDate" maxlength="5" class="form-control" placeholder="MM/YY">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-key"></i>
            </span>
            <input type="password" formControlName="cvv" maxlength="3" class="form-control" placeholder="CVV">
          </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-success btn-lg" type="submit">
          <i class="fas fa-save mr-5"></i>
          Add
        </button>
      </div>
    </form>
  </div>
</div>
