<div class="card">
  <div class="card-body">
    <h2 class="text-center">Cards</h2>
    <table class="table">
      <tbody>
        <tr *ngFor="let card of cards">
          <td>{{card.owner}}</td>
          <td>{{card.number}}</td>
          <td>{{card.expDate}}</td>
          <td class="text-end">
            <button class="btn btn-link" type="button" (click)="deleteCard(card)">
              <i class="far fa-trash-alt text-danger"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
